<h2>Your total shipping cost is:</h2>
<h3><%= @total_cost %></h3>
<h4>Package Details:</h4>
<ul>
  <li>Height: <%= @height %></li>
  <li>Width: <%= @width %></li>
  <li>Depth: <%= @depth %></li>
  <li>Weight: <%= @weight %></li>



</ul>
